@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.postContainer {
    + .postContainer {
        margin-top: $margin-sm;
    }

    padding: $padding-xs $margin-sm;

    background-color: $primary-dark-hover;
    border-radius: 8px;

    .postSubject {
        @include d-flex(space-between);

        .poster {
            border-radius: 8px;
            width: 70px;
            height: auto;

            -webkit-box-shadow: 0 10px 25px 0 rgba(35, 41, 45, 0.8);
            -moz-box-shadow: 0 10px 25px 0 rgba(35, 41, 45, 0.8);
            box-shadow: 0 10px 25px 0 rgba(35, 41, 45, 0.8);
        }

        .posterLabels {
            @include d-flex(center, start, column);

            > h3 {
                width: 100%;
                font-size: 0.9em;
                margin-top: $margin-sm;

                > span {
                    margin-left: $margin-xxs;
                    font-size: 0.8em;
                    color: $secondary-text-white;
                }
            }

            .postHeader {
                @include d-flex();

                .avatar {
                    width: 50px;
                    height: 50px;
                    margin-bottom: -5px;
                }

                .postAuthor {
                    @include d-flex(end, n, column);

                    color: $primary-white;
                    margin-left: $margin-xxs;

                    h5 {
                        margin-bottom: $margin-xxs;
                    }

                    span {
                        font-size: 0.7em;
                        color: $secondary-text-white;
                    }
                }
            }
        }
    }

    .postContent {
        margin-top: $margin-default;

        .postText {
            margin-top: $margin-sm;

            p {
                margin-top: $margin-xs;
                font-size: 0.9em;
                line-height: 1.2em;
                color: $secondary-text-white;

                .link {
                    text-decoration: none;
                    margin-left: $margin-xxs;
                    color: $highlight-yellow;
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            .comments {
                color: $secondary-text-white;
                margin-top: $margin-xs;

                @include d-flex(end, center);

                .icon {
                    width: 20px;
                    height: auto;
                    margin-left: $margin-xxs;
                }

                span {
                    font-size: 0.8em;
                    font-weight: 600;
                }
            }
        }
    }
}