@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.border {
    @include d-flex(initial, center);
}

.image {
    width: 20px;
    height: 20px;
}

.header {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: $primary-white;
    margin-left: $margin-xs;
}