@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.postContent {
    margin-top: $margin-default;

    @include lg {
        margin-top: $margin-lg;
    }

    .postHeader {
        @include d-flex();

        .postAuthor {
            @include d-flex(end, n, column);

            color: $primary-white;
            margin-left: $margin-xxs;

            @include lg {
                margin-left: $margin-xs;
            }

            h5 {
                margin-bottom: $margin-xxs;

                @include lg {
                    font-size: 1.2em;
                }
            }

            span {
                font-size: 0.7em;

                @include lg {
                    font-size: 0.9em;
                    font-weight: 500;
                }
                color: $secondary-text-white;
            }
        }
    }

    .postText {
        margin-top: $margin-sm;

        p {
            margin-top: $margin-xs;
            font-size: 0.9em;
            line-height: 1.2em;
            color: $secondary-text-white;

            @include lg {
                font-size: 1.1em;
            }

            .link {
                text-decoration: none;
                margin-left: $margin-xxs;
                color: $highlight-yellow;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}