@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

// Screen sizes
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// Logo sizes


// Colors 2a2640
$tone-xs: #3e4c59;
$tone-sm: #626262;
$neutral50: #fafafa;
$neutral100: #f5f5f5;

$default-white: #e3dfdc;
$default-white-hover: #cfc8c3;

$default-dark: #272f32;
$default-dark-hover: #435055;

$secondary-text-white: #959b9b;

// Fonts
$montserrat: 'Montserrat', sans-serif;

// Other
$panel-width-default: 360px;
$panel-height-default: 220px;

$border-radius-sm: 30px;
$border-radius-md: 50px;

$tone-opacity: 65%;

$padding-xs: 10px;
$padding-sm: 20px;
$padding-default: 30px;
$padding-md: 40px;
$padding-lg: 50px;
$padding-xl: 60px;
$padding-xxl: 80px;

$margin-xs: 10px;
$margin-sm: 20px;
$margin-default: 30px;
$margin-md: 40px;
$margin-lg: 50px;
$margin-xl: 60px;

$title-fontsize: 3em;

