@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

// Screen sizes
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1560px;


// Colors
$tone: #3e4c59;

$primary-white: #e3dfdc;
$primary-white-hover: #f1efed;

$primary-dark: #272f32;
$primary-dark-hover: #435055;

$secondary-text-white: #959b9b;

$highlight-yellow: #f5c518;
$highlight-yellow-dark: #cea309;

// Fonts
$montserrat: 'Montserrat', sans-serif;

// Other
$panel-width-default: 300px;
$panel-height-default: 160px;

$background-max-width: 400px;

$tagline-default-max-width: 300px;
$tagline-md-max-width: 400px;

$border-radius-xxs: 5px;
$border-radius-xs: 10px;
$border-radius-sm: 30px;
$border-radius-md: 50px;

$tone-opacity: 65%;
$tone-opacity-lg: 75%;

$padding-xxs: 5px;
$padding-xs: 10px;
$padding-sm: 20px;
$padding-default: 30px;
$padding-md: 40px;
$padding-lg: 50px;
$padding-xl: 60px;
$padding-xxl: 80px;

$margin-xxs: 5px;
$margin-xs: 10px;
$margin-sm: 20px;
$margin-default: 30px;
$margin-md: 40px;
$margin-lg: 50px;
$margin-xl: 60px;

$title-fontsize: 3em;

$cast-item-height: 120px;
$cast-item-width: 90px;

$cast-item-width-lg: 135px;
$cast-item-height-lg: 180px;

