@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.header {
    position: fixed;
    z-index: 10;

    width: 100%;

    top: 0;
    padding: $padding-default $padding-default $padding-xs $padding-default;
    background: $primary-dark;

    color: $primary-white;

    transition-property: top;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;

    @include d-flex(space-between);

    .link {
        font-weight: 600;
        color: $primary-white;
        margin-top: 6px;
        cursor: pointer;
    }

    div {
        @include d-flex(center, center);
    }

    .clickableArea {
        cursor: pointer;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 600;
        display: inline-block;
    }

    .iconButton {
        color: $primary-white;

        .badge {
            &:global(.MuiBadge-colorPrimary) {
                background-color: #f9340c;
            }
        }
    }
}

.down {
    top: -100px;
}

.up {
    top: initial;
}