@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.link {
    text-decoration: none;
}

.forYouItem {
    background: $primary-dark-hover;
    border-radius: $border-radius-xxs;
    width: 110px;
    height: 240px;
    padding: $padding-xxs;
    margin-top: $margin-sm;
    margin-left: $margin-xs;

    @include d-flex(n,n, column);

    img {
        height: auto;
        width: 100px;
        border-radius: $border-radius-xxs;
    }

    span {
        font-size: 0.9em;
        color: $primary-white;
        font-weight: 500;
        margin-top: $margin-xs;

        &:last-of-type {
            color: $secondary-text-white;
        }

        white-space: normal;
    }
}