@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.postActionInput {
    @include d-flex(space-between);
    padding-left: $padding-default;
    padding-top: $padding-xxs;
    padding-right: $padding-default;

    > div {
        width: 300px;
        position: relative;

        textarea {
            color: $primary-dark;
            font-weight: 500;
        }
    }

    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background: $primary-white;
    border-radius: $border-radius-xs $border-radius-xs 0 0;
}

.background {
    @include fullscreen-background($primary-dark);
    padding: $padding-default;
    position: relative;

    .header {
        .headerContent {
            @include d-flex();

            .image {
                border-radius: 10px;
                width: auto;
                height: 120px;

                -webkit-box-shadow: 0 10px 25px 0 rgba(35, 41, 45, 0.8);
                -moz-box-shadow: 0 10px 25px 0 rgba(35, 41, 45, 0.8);
                box-shadow: 0 10px 25px 0 rgba(35, 41, 45, 0.8);
            }

            .content {
                margin-left: $margin-sm;
                @include d-flex(space-around, start, column);

                h3 {
                    width: 100%;
                    font-size: 1em;
                    color: $secondary-text-white;
                }

                span {
                    margin-left: $margin-xxs;
                    font-size: 0.8em;
                    color: $secondary-text-white;
                }

                .contentHeader {
                    @include d-flex();

                    .contentAuthor {
                        @include d-flex(end, n, column);

                        color: $primary-white;
                        margin-left: $margin-xs;

                        h5 {
                            margin-bottom: $margin-xxs;
                        }

                        span {
                            font-size: 0.7em;
                            color: $secondary-text-white;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .rates {
        background: $primary-dark-hover;
        border-radius: $border-radius-xs;
        padding: $padding-xxs $padding-sm;
        margin-top: $margin-default;

        .sliderContainer {
            @include d-flex(space-between, center);

            .textContainer {
                width: 70vw;

                span {
                    color: $secondary-text-white;
                    font-weight: 700;
                }

                span:last-of-type {
                    margin-left: $margin-xs;
                    color: $primary-white;
                }
            }
        }
    }

    .overallContainer {
        margin-top: $margin-sm;
        span {
            font-weight: 700;
            color: $primary-white;
        }

        span:last-of-type {
            color: $highlight-yellow;
            margin-left: $margin-xs;
        }
    }

    .contentSection {
        margin-top: $margin-sm;

        .contentText {
            margin-top: $margin-sm;

            p {
                margin-top: $margin-xs;
                font-size: 0.9em;
                line-height: 1.5em;
                color: $primary-white;

                br {
                    margin-top: $margin-xxs;
                }

                .link {
                    text-decoration: none;
                    margin-left: $margin-xxs;
                    color: $highlight-yellow;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }

        .contentReactions {
            @include d-flex(end);
            color: $primary-white;

            Button {
                height: 40px;
                width: 80px;
                font-size: 0.8em;
            }

            .icon {
                width: 20px;
                height: auto;
            }
        }
    }

    .commentSection {
        margin-top: $margin-sm;
        padding-bottom: $padding-xl;
    }
}