@use "./../styles/abstracts/variables" as *;
@use "./../styles/abstracts/mixins" as *;

.background {
    @include fullscreen-background($default-dark);

    .panel {
        @include d-flex(initial, end, column);
        padding-right: $padding-default;
        padding-top: $padding-default;

        background-color: $default-white;
        border-radius: 0 0 $border-radius-md 0;

        height: 200px;

        &__container {
            max-width: 220px;

            @include d-flex(initial, end, column);

            h1 {
                font-size: 1.8em;
                font-weight: 600;
                color: $default-dark;
                text-align: end;

                display: inline-block;
                margin-top: $margin-sm;
            }

            span {
                text-align: end;
                font-weight: 500;

                display: inline-block;
                margin-top: $margin-xs;
            }
        }
    }

    .form {
        @include d-flex(center, center, column);

        padding-top: $padding-xxl;

        &__container {
            padding: $padding-sm $padding-default 0 $padding-default;
            max-width: 360px;

            .dividerContainer {
                margin: $margin-xs 0;

                .divider:global(.MuiDivider-withChildren) {
                    color: $default-white;
                    &:before, &:after {
                        border-color: $default-white;
                    }
                }
            }

            .linkContainer {
                margin-top: $margin-sm;

                @include d-flex(end);

                .link {
                    font-weight: 600;
                    color: $default-white;
                }
            }
        }
    }
}

