@use "./../styles/abstracts/variables" as *;
@use "./../styles/abstracts/mixins" as *;

.image {
    @include fullscreen-background(false, "../assets/login/1-xs.jpg");

    @include md {
        background-image: url("../assets/login/3-md.jpg");
    }

    @include xl {
        background-image: url("../assets/login/2-lg.jpg");
    }

    &::before {
        content: '';
        position: absolute;
        height: 100vh;
        width: 100vw;

        @include xl {
            background-color: $tone-sm;
        }

        background-color: $tone-xs;
        opacity: $tone-opacity;
    }

    @include d-flex(end);

    @include xl {
        justify-content: start;
    }

    .background {
        @include fullscreen-background($default-dark);
        position: relative;

        @include lg {
            max-width: $background-max-width;
            background-color: $lg-dark;
        }

        .panel {
            @include d-flex(initial, start, column);

            border-radius: 0 0 0 $border-radius-md;

            padding-left: $padding-default;
            padding-top: $padding-default;

            width: 100%;
            height: $panel-height-default;
            background-color: $default-white;

            &__container {
                max-width: 200px;
            }

            h1 {
                margin-top: $margin-sm;
                font-size: 1.8em;
                font-weight: 600;
                color: $default-dark;
            }
        }

        .form {
            @include d-flex(center, center, column);

            height: calc(100vh - $panel-height-default);

            &__container {
                padding: 0 $padding-default 0 $padding-default;
                max-width: 360px;
            }

            .dividerContainer {
                margin: $margin-xs 0;

                .divider:global(.MuiDivider-withChildren) {
                    color: $default-white;
                    &:before, &:after {
                        border-color: $default-white;
                    }
                }
            }

            .container {
                margin-top: $margin-md;
                @include d-flex(start);

                span {
                    color: $default-white;
                }

                .linkContainer {
                    margin-left: $margin-default;

                    .link {
                        font-weight: 600;
                        color: $default-white;
                    }
                }
            }
        }
    }
}